node_modules/
.cache/
public

# Local Netlify folder
.netlify

# yarn Zero-installs 
# https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored 
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
